div.startPlaying {
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  gap: 5%;

}

div.playList {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  border: 5px solid #0000FF;
  border-radius: 1vw;
  box-shadow: 0.5vh 0.5vh 0.75vh black;

}
div.content {
  display: table;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 1vw;
  box-shadow: 0vh 0vh 2vh #0000ff;
  margin:15px;
  justify-content: center;
  align-items: center;

}

div {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;
}
/*
#headDiv {
  padding-top: 1vw;
  padding-left: 0.5vw;
  height: 10vh;
}
#mainDiv {
vertical-align: middle;
margin-top: 25vh;
}
*/
.titleDiv {
  padding-top: .01vw;
  padding-bottom: .01vw;
}
